
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Lora&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    width: 100%;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
    background-color: rgb(188, 171, 70);
    color: blue;
}

body {
    background-color: white; 
    font-family: "signica", "Bradley Hand", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;

}
header {
    background-color: #344c3e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
nav a:hover {
    background-color: white;
    color: white;
  
}

.book, .join {
    background-color: #344c3e;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;


}
.book:hover, .join:hover {
    background-color: black;
    color: white;
}
.msg {
    background-color: rgb(188, 171, 70);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #344c3e;
    color: white;  
    margin-top: 200px;
}
footer a {
    background-color: #2e4f3c;
    color: white;
    text-decoration: none;
    padding: 25px 50px;
}
footer a:hover {
    background-color: rgb(214, 214, 110);
    color: white;
}  

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #2e4f3c;
    font-family: "Libre Caslon Text";
    font-size: 2em;
    margin: 10px;

}

h4 {
    color: #2e4f3c;
}

.msg p {
    color: #2e4f3c;
    font-size: .8em;
    padding-bottom: 15px;
}

h2 {
    margin: 0;
}

.msg h2 {
    font-family: "Libre Caslon Text";
    color: #2e4f3c
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}


.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-image {
    border: 10px solid #000;
}

main section img {
    box-sizing: border-box;
}
